.container,
.content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.content {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.container {
  align-self: stretch;
  flex-direction: row;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--heading-website-heading-7-semi-bold-size);
  color: var(--neutral-900);
  font-family: var(--text-m-medium);
}


.cartWithStateSuccessAlertInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cartWithStateSuccessAlertInner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-21xl) var(--padding-13xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--text-m-medium-size);
  color: var(--neutral-500);
  font-family: var(--text-m-medium);
}
.pageTitle {
  font-size: 14px;
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
}
.curvedChevronSmallRight {
  width: 24px;
  height: 24px;
  position: relative;
}
.socialMenuBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.pageTitle2 {
  font-size: 14px;
  position: relative;
  line-height: 26px;
  font-weight: 500;
  color: var(--neutral-900);
  display: inline-block;
}
.pageTitles,
.cart,
.pageMenuTitles {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.pageMenuTitles {
  gap: var(--gap-5xs);
}
.pageTitles{
  padding: 0 var(--padding-21xl) var(--padding-3xs);
}
.cart {
  width: 100%;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--base-white-2);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-13xl) 0 0;
  gap: var(--gap-5xs);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--text-m-medium-size);
  color: var(--neutral-500);
  font-family: var(--text-m-medium);
}
@media screen and (max-width: 450px) {
  .content{
    width: 382px;
      max-width: 382px;
  }
      .container {
        gap: var(--gap-5xl);
        padding: var(--padding-21xl) var(--padding-5xl);
      
    
  }
}
