.hub {
  color: var(--neutral-900);
}

.nexushub {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 46px;
  font-weight: 600;
  font-family: inherit;
}

.nexushubAllRights {
  width: 216.2px;
  position: relative;
  font-size: var(--text-m-medium-size);
  line-height: 26px;
  font-weight: 500;
  color: var(--neutral-600);
  display: inline-block;
}

.badgeIcon {
  align-self: stretch;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 5px;
  height: 100%;
  transform: scale(1.667);
}

.wrapperBadge {
  align-self: stretch;
  width: 46px;
  position: relative;
  border-radius: 5.38px;
  max-height: 100%;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badgeIcon1 {
  align-self: stretch;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 5px;
  height: 100%;
  transform: scale(1.667);
}

.wrapperBadge1 {
  align-self: stretch;
  width: 46px;
  position: relative;
  border-radius: 5.38px;
  max-height: 100%;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badgeIcon2 {
  align-self: stretch;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 5px;
  height: 100%;
  transform: scale(1.667);
}

.wrapperBadge2 {
  align-self: stretch;
  width: 46px;
  position: relative;
  border-radius: 5.38px;
  max-height: 100%;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badgeIcon3 {
  align-self: stretch;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 5px;
  height: 100%;
  transform: scale(1.667);
}

.wrapperBadge3 {
  align-self: stretch;
  width: 46px;
  position: relative;
  border-radius: 5.38px;
  max-height: 100%;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badgeIcon4 {
  align-self: stretch;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 5px;
  height: 100%;
  transform: scale(1.667);
}

.wrapperBadge4 {
  align-self: stretch;
  width: 46px;
  position: relative;
  border-radius: 5.38px;
  max-height: 100%;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo,
.payment {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}

.payment {
  height: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-mid) 0 0;
  gap: 12px 8.8px;
}

.payment2 {
  display: none;

}

.logo {
  width: 531.8px;
  flex-direction: column;
  padding: 0 0 var(--padding-19xl);
  gap: var(--gap-5xl);
  min-width: 531.8px;
  max-width: 100%;
}

.company1 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 30px;
  font-weight: 600;
}

.aboutUs,
.contact,
.partner {
  align-self: stretch;
  position: relative;
  line-height: 26px;
  font-weight: 500;
}

.subTitleMob {
  position: relative;
  line-height: 16px;
  font-weight: 400;
  width: 382px;
  height: 16px;
  font-family: Inter;
  font-size: 14px;
  padding-top: 5px;
  color: #5D5D5D;
  cursor: default;
}

.company,
.subMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.subMenu {
  align-self: stretch;
  gap: var(--gap-base);
  font-size: var(--text-m-medium-size);
  color: var(--neutral-600);
}

.subMenuMob {
  display: none;

}

.subMenuMobActive {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  gap: Spacing/Spacing - 2;
  font-size: var(--text-m-medium-size);
  color: var(--neutral-600);
  position: absolute;
  /* or absolute */
  z-index: 9999;
}

.subMenuMob2 {
  display: none;

}

.subMenuMobActive2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  gap: Spacing/Spacing - 2;
  font-size: var(--text-m-medium-size);
  color: var(--neutral-600);
  position: relative;
  /* or absolute */
  z-index: 9999;
}

.subMenuMob3 {
  display: none;

}

.subMenuMobActive3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  gap: Spacing/Spacing - 2;
  font-size: var(--text-m-medium-size);
  color: var(--neutral-600);
  position: relative;
  /* or absolute */
  z-index: 9999;
}

.subMenuMob4 {
  display: none;

}

.subMenuMobActive4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  gap: Spacing/Spacing - 2;
  font-size: var(--text-m-medium-size);
  color: var(--neutral-600);
  position: relative;
  /* or absolute */
  z-index: 9999;
}

.company {
  flex: 1;
  box-sizing: border-box;
  gap: var(--gap-13xl);
  min-width: 143px;
  max-width: 191px;
}

.companyMob {
  justify-content: center;
  width: 382px;
  height: 44px;
  gap: Spacing/Spacing - 3;
  cursor: pointer;
  transition: margintop 0.3s ease;
}

.titleMob1 {
  padding: 0;
  text-decoration: none;
  background-color: inherit;
  border: none;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 18.2px;
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  width: 358px;
  height: 18px;
  justify-content: center;
  text-align: initial;
  text-justify: auto;
  display: inline-block;
  margin: auto;
  cursor: pointer;

}
.Active1{
  color: #EE701D;
}

.social1 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 30px;
  font-weight: 600;

}

.facebook,
.instagram,
.linkedin,
.twitter {
  align-self: stretch;
  position: relative;
  line-height: 26px;
  font-weight: 500;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.social {
  flex: 1;
  gap: var(--gap-13xl);
  min-width: 143px;
  max-width: 191px;
}

.faq1 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 30px;
  font-weight: 600;
}

.account,
.deliveries,
.orders,
.payments {
  align-self: stretch;
  position: relative;
  line-height: 26px;
  font-weight: 500;
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.faq {
  flex: 1;
  gap: var(--gap-13xl);
  min-width: 143px;
  max-width: 191px;
}

.resources1 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 30px;
  font-weight: 600;
}

.blog,
.course,
.eBooks,
.tutorials {
  align-self: stretch;
  position: relative;
  line-height: 26px;
  font-weight: 500;
}

.footer,
.menu,
.resources {
  display: flex;
  align-items: flex-start;
}

.resources {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  min-width: 143px;
  max-width: 191px;
}

.footer,
.menu {
  flex-direction: row;
  max-width: 100%;
}

.menu {
  width: 788.2px;
  justify-content: flex-end;
  gap: var(--gap-5xs);
  min-width: 788.2px;
  font-size: var(--heading-website-heading-7-semi-bold-size);
  color: var(--neutral-900);
}

.menuMob {
  display: none;
  width: 382px;
  justify-content: flex-end;
  gap: var(--gap-5xs);
  font-size: var(--heading-website-heading-7-semi-bold-size);
  color: var(--neutral-900);
  flex-direction: row;
  max-width: 100%;
  align-items: flex-start;
  max-height: Hug (272px);
}

.footer {
  align-self: stretch;
  background-color: var(--gray-50);
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-121xl) var(--padding-41xl);
  box-sizing: border-box;
  row-gap: 20px;
  gap: var(--gap-0);
  text-align: left;
  font-size: var(--heading-website-heading-3-semi-bold-size);
  color: var(--primary-500);
  font-family: var(--text-m-medium);
}

.arrowImg {
  align-self: flex-end;
  justify-self: flex-end;
  transition: transform 0.3s ease-out;
}
.activeArrow{
  transform: rotate(180deg);
}

.menuMobWrapperActive {
  margin-top: 60px;
}

.menuMobWrapperActive2 {
  margin-top: 80px;
}

@media screen and (max-width: 1425px) {

  .logo,
  .menu {
    flex: 1;
  }

  .footer {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  .menu {
    min-width: 100%;
  }
}

@media screen and (max-width: 450px) {
.companyMob{
  background-color: none;
}
  .logo {
    min-width: 100%;
  }

  .footer {
    padding: var(--padding-72xl) var(--padding-11xl);
    box-sizing: border-box;
  }

  .payment {
    display: none;
  }

  .payment2 {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 50px;
    gap: 12px 8.8px;

  }

  .nexushub {
    font-size: 36px;
    line-height: 46px;
    font-weight: 600;
  }

  .menu {
    display: none;
  }

  .menuMob {
    display: block;
  }

  .aboutUs,
  .contact,
  .partner,
  .account,
  .deliveries,
  .orders,
  .payments,
  .blog,
  .course,
  .eBooks,
  .tutorials,
  .facebook,
  .instagram,
  .linkedin,
  .twitter {
    font-size: 14px;
  }


}